@import "null";
@import "variables";

@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "fonts";

.project_card_0304, {
	font-family: Manrope;
	font-weight: 400;
	@media ($desktopMax) {
		padding: 50px 0 20px 330px;
	}
	@media ($desktop) {
		padding: 50px 0 20px;
	}
	color: #000000;

	@media ($tablet2) {
		padding: 30px 0;
		overflow: hidden;
	}
}



.container_0304 {
	max-width: 1360px;
	padding: 0 25px;
	margin: 0 auto;
	@media ($desktopBig) {
		padding: 0 20px;
	}
	@media ($desktop) {
		padding: 0 25px;
	}
}
.section_0304 {
	padding: 20px 0;
	@media ($mobile) {
		padding: 15px 0;
	}
}
.project_card_0304__body, {
	@media ($tablet2Max) {
		display: flex;
	}
}
.project_card_0304__content {
	@media ($tablet2Max) {
		flex: 1 1 auto;
	}
}
.project_card_0304__right {
	flex: 0 0 360px;
	padding-left: 90px;

	@media ($desktopBig) {
		padding-left: 30px;
		flex: 0 0 270px;
	}
	@media ($tablet2) {
		padding-left: 0;
		padding-top: 37px;
	}
}
.project_card_0304__title {
	font-weight: 700;
	font-size: 45px;
	line-height: 60px;
	@media ($desktopBig) {
		font-size: 36px;
		line-height: 48px;
	}
	@media ($mobile) {
		font-size: 31px;
		line-height: 42px;
	}
}
.project_card_0304__main_img{
	margin-top: 40px;
	position: relative;
	padding-top: 60%;
	
	@media ($mobile) {
		margin-top: 20px;
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}
.project_card_0304__main_img_label,
.integration_0304__main_img_label {
	font-size: 14px;
	line-height: 21px;
	color: #565656;
	margin-top: 10px;
	@media ($mobile) {
		font-size: 12px;
		line-height: 18px;
		margin-top: 5px;
	}
}
.project_card_0304__text {
	font-size: 20px;
	line-height: 27px;
	margin-bottom: -20px;
	@media ($desktopBig) {
		font-size: 18px;
		line-height: 24px;
	}
	@media ($mobile) {
		font-size: 14px;
		line-height: 20px;
	}

	p {
		margin-bottom: 20px;
		@media ($desktopBig) {
			margin-bottom: 18px;
		}
		@media ($mobile) {
			margin-bottom: 14px;
		}
	}
}

.img_text_0304 {
	display: flex;
	margin-left: -30px;
	flex-wrap: wrap;

	@media ($desktopBig) {
		margin-left: -20px;
	}

	@media ($mobile) {
		display: block;
		margin-left: 0;
	}
	&.this--big_img {
		@media ($desktopBigMax) {
			align-items: center;
		}
	}
	&.this--reverse {
		flex-direction: row-reverse;
	}
}

.img_text_0304__img_wr {
	margin-left: 30px;

	@media ($desktopBig) {
		margin-left: 20px;
	}
	@media ($mobile) {
		margin-left: 0;
	}

	.img_text_0304.this--big_img & {
		width: calc(60.5% - 30px);
		@media ($desktopBig) {
			width: calc(60.5% - 20px);
		}
		@media ($mobile) {
			width: 100%;
		}

		.img_text_0304__img {
			padding-top: 60%;
		}
	}
	.img_text_0304.this--small_img & {
		width: calc(25.8% - 30px);
		@media ($desktopBig) {
			width: calc(25.8% - 20px);
		}
		@media ($mobile) {
			width: 100%;
		}
		.img_text_0304__img {
			padding-top: 135.3%;
		}
	}
}
.img_text_0304__img {
	position: relative;

	img {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}
.img_text_0304__text {
	margin-left: 30px;
	font-size: 16px;
	line-height: 24px;

	@media ($desktopBig) {
		margin-left: 20px;
		font-size: 14px;
		line-height: 21px;
	}
	@media ($mobile) {
		font-size: 12px;
		line-height: 18px;
		margin-left: 0;
		margin-top: 10px;
	}

	.img_text_0304.this--big_img & {
		width: calc(39.5% - 30px);
		@media ($desktopBig) {
			width: calc(39.5% - 20px);
		}
		@media ($mobile) {
			width: 100%;
		}
	}
	.img_text_0304.this--small_img & {
		width: calc(74.2% - 30px);
		@media ($desktopBig) {
			width: calc(74.2% - 20px);
		}
		@media ($mobile) {
			width: 100%;
		}
	}
}

.review_0304 {
	@media ($mobileMax) {
		display: flex;
	}
}
.review_0304__img_wr {
	margin-right: 20px;
	flex: 0 0 100px;
	@media ($mobile) {
		display: flex;
	}
}
.review_0304__img {
	width: 100px;
	height: 100px;
	@media ($mobile) {
		width: 70px;
		height: 70px;
		margin-right: 15px;
		flex: 0 0 auto;
	}

	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}
.review_0304__info {
	font-size: 16px;
	line-height: 24px;
	@media ($mobile) {
		font-size: 12px;
		line-height: 18px;
		margin-top: 10px;
	}
}
.review_0304__author {
	margin-top: 15px;
	@media ($mobile) {
		margin-top: 0;
		font-size: 12px;
		line-height: 18px;
	}
}
.review_0304__author_position {
	margin-top: 5px;
	color: #8C8C8C;
	@media ($mobile) {
		margin-top: 0;
	}
}
.project_card_0304__links {
	display: flex;
	justify-content: space-between;
	margin-left: -20px;

	@media ($desktopBig) {
		margin-left: -10px;
	}
	@media ($desktop) {
		margin-left: -20px;
	}

	@media ($mobile) {
		margin-left: 0;
		flex-direction: column-reverse;
		margin-bottom: -10px;
		align-items: center;
	}
}
.project_card_0304__link_prev,
.project_card_0304__link_next {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	font-family: Roboto;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	width: 330px;
	height: 66px;
	transition: 0.3s;
	margin-left: 20px;

	@media ($desktopBig) {
		width: 265px;
		margin-left: 10px;
	}
	@media ($desktop) {
		width: 280px;
		margin-left: 20px;
	}
	@media ($mobile) {
		margin-left: 0;
		width: 325px;
		margin-bottom: 10px;
	}
	@media ($mobileMiddle) {
		width: 100%;
	}
}
.project_card_0304__link_prev {
	color: #000000;
	border: 2px solid #000000;

	&:hover {
		@media ($tablet2Max) {
			color: #ffffff;
			background: #000000;

			.project_card_0304__link_arrow {
				background: #ffffff;

				&::before,
				&::after {
					background: #ffffff;
				}
			}
		}
	}
}
.project_card_0304__link_next {
	color: #4FAC29;
	border: 2px solid #4FAC29;

	&:hover {
		@media ($tablet2Max) {
			color: #ffffff;
			background: #4FAC29;

			.project_card_0304__link_arrow {
				background: #ffffff;

				&::before,
				&::after {
					background: #ffffff;
				}
			}
		}
	}
}
.project_card_0304__link_arrow {
	width: 49px;
	height: 2px;
	position: relative;
	transition: 0.3s;

	&.this--prev {
		background: #000000;
		margin-right: 20px;
		@media ($desktopBig) {
			margin-right: 15px;
		}
		@media ($desktop) {
			margin-right: 20px;
		}

		&::before,
		&::after {
			background: #000000;
		}
	}
	&.this--next {
		background: #4FAC29;
		margin-left: 20px;
		transform: rotate(180deg);
		@media ($desktopBig) {
			margin-left: 15px;
		}
		@media ($desktop) {
			margin-left: 20px;
		}

		&::before,
		&::after {
			background: #4FAC29;
		}
	}

	&::before,
	&::after {
		width: 6px;
		height: 2px;
		position: absolute;
		content: '';
		left: 0;
		transition: 0.3s;
	}
	&::before {
		top: -2px;
		transform: rotate(-45deg);
	}
	&::after {
		top: 2px;
		transform: rotate(45deg);
	}
}

.project_card_0304__slider_wr {
	position: fixed;
	top: 50px;
	overflow: hidden;
	width: 270px;
	padding-bottom: 60px;
	@media ($desktopBig) {
		width: 240px;
	}
	@media ($tablet2) {
		width: 100%;
		padding-bottom: 0;
		position: static;
		overflow: visible;
	}
}
.project_card_0304__slider_title {
	font-weight: 700;
	font-size: 26px;
	line-height: 28px;
	@media ($tablet2) {
		line-height: 36px;
	}
}
.slider_0304 {
	height: 515px;
	margin-top: 20px;
	@media ($desktopBig) {
		height: 465px;
	}
	@media ($tablet2) {
		height: auto;
	}
}
.slider_0304__slide.swiper-slide {
	height: calc((100% - 25px) / 2);
	@media ($tablet2) {
		height: auto;
		max-width: 270px;
	}
}
.another_project_0304 {
	&:hover {
		@media ($tablet2Max) {
			.another_project_0304__text {
				color: #4FAC29;
			}
		}
	}
}
.another_project_0304__img {
	position: relative;
	padding-top: 60%;

	img {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}
.another_project_0304__text {
	margin-top: 10px;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	transition: 0.3s;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	@media ($tablet2) {
		margin-top: 5px;
	}
}
.slider_0304__controls {
	position: absolute;
	width: 110px;
	height: 50px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: space-between;
	@media ($tablet2) {
		display: none;
	}
}
.slider_0304__btn_prev,
.slider_0304__btn_next {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: #FFFFFF;
	border: 2px solid #4FAC29;
	position: relative;
	cursor: pointer;
	transition: 0.3s;

	&:hover {
		@media ($tablet2Max) {
			background: #4FAC29;
			&::before,
			&::after {
				background: #ffffff;
			}
		}
	}

	&::before,
	&::after {
		position: absolute;
		content: '';
		width: 14px;
		height: 2px;
		background: #4FAC29;
		left: 15px;
		transition: 0.3s;
	}
	&::before {
		bottom: 17.5px;
		transform: rotate(45deg);
	}
	&::after {
		top: 17px;
		transform: rotate(-45deg);
	}
	&.swiper-button-disabled {
		pointer-events: none;
		opacity: 0.2;
	}
}
.slider_0304__btn_prev {

}
.slider_0304__btn_next {
	transform: rotate(180deg);
}



///////////////////////////////////////////  integration ///////////////////////////////
.integration_0304 {
	font-family: Manrope;
	font-weight: 400;

	@media ($desktopMax) {
		padding: 0 0 20px 330px;
	}
	@media ($desktop) {
		padding: 0 0 20px;
	}
	color: #000000;

	@media ($tablet2) {
		overflow: hidden;
		padding: 0 0 30px;
	}
}
.integration_0304__top_img_wr {
	padding-top: 12.578%;
	position: relative;

	@media ($tablet3) {
		padding-top: 100px;
	}

	.integration_0304__top_img {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		width: 100%;
		height: 100%;
		&.this--mob {
			display: none;
		}

		@media ($tablet3) {
			display: none;
			&.this--mob {
				display: block;
			}
		}
	}
}
.integration_0304__body {
	padding: 40px 0 0 0;

	@media ($tablet2Max) {
		display: flex;
	}
	@media ($tablet2) {
		padding: 30px 0 0 0;
	}
}
.integration_0304__content {
	min-width: 0;
	flex: 1 1 auto;
}
.integration_0304__title {
	font-weight: 700;
	font-size: 45px;
	line-height: 60px;
	@media ($desktopBig) {
		font-size: 36px;
		line-height: 48px;
	}
	@media ($mobile) {
		font-size: 24px;
		line-height: 32px;
	}
}
.integration_0304__subtitle {
	font-size: 20px;
	line-height: 27px;
	margin-top: 20px;

	@media ($tablet3) {
		font-size: 16px;
		line-height: 24px;
	}
}

.integration_0304__main_img {
	margin-top: 20px;
	position: relative;
	padding-top: 60%;

	img {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}
.integration_0304__lists {
	margin-top: 40px;
}
.integration_0304__list_title {
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;

	@media ($tablet3) {
		font-size: 14px;
		line-height: 20px;
	}
}
.integration_0304__list {
	padding-left: 30px;
	margin: 20px 0;
	font-size: 20px;
	line-height: 27px;

	@media ($tablet3) {
		font-size: 14px;
		line-height: 20px;
	}
}
.integration_0304__text {
	font-size: 20px;
	line-height: 27px;
	@media ($tablet3) {
		font-size: 14px;
		line-height: 20px;
	}
}
.big_slider_0304 {
	overflow: hidden;
	position: relative;
	padding-bottom: 60px;
	margin-top: 20px;
}

.big_slider_0304__img {
	position: relative;
	padding-top: 60%;

	img {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.big_slider_0304__controls {
	position: absolute;
	bottom: 0;
	display: flex;
	width: 175px;
	height: 50px;
	left: 50%;
	transform: translateX(-50%);
	justify-content: space-between;
	align-items: center;
}
.big_slider_0304__btn_prev,
.big_slider_0304__btn_next {
	flex: 0 0 auto;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: #FFFFFF;
	border: 2px solid #4FAC29;
	position: relative;
	cursor: pointer;
	transition: 0.3s;

	&:hover {
		@media ($tablet2Max) {
			background: #4FAC29;
			&::before,
			&::after {
				background: #ffffff;
			}
		}
	}

	&::before,
	&::after {
		position: absolute;
		content: '';
		width: 14px;
		height: 2px;
		background: #4FAC29;
		left: 15px;
		transition: 0.3s;
	}
	&::before {
		bottom: 17.5px;
		transform: rotate(45deg);
	}
	&::after {
		top: 17px;
		transform: rotate(-45deg);
	}
	&.swiper-button-disabled {
		pointer-events: none;
	}
}

.big_slider_0304__btn_next {
	transform: rotate(180deg);
}

.big_slider_0304__pagination {
	font-size: 20px;
	line-height: 27px;
	text-align: center;
}

.integration_0304__another_slider_wr {
	margin-top: 40px;
	position: relative;
	margin-bottom: 80px;
}
.integration_0304__another_slider_title {
	font-weight: 700;
	font-size: 26px;
	line-height: 36px;
}
.integration_0304__another_slider {
	overflow: hidden;
	margin-top: 20px;
	@media($tablet2) {
		overflow: visible;
		margin-top: 10px;
	}
}
.another_slider_0304__img {
	position: relative;
	padding-top: 60%;

	img {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}
.another_slider_0304__text {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	margin-top: 10px;
	color: #000000;
	transition: 0.3s;
}
.another_slider_0304__btn_prev,
.another_slider_0304__btn_next {
	position: absolute;
	top: 50%;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: #FFFFFF;
	border: 2px solid #4FAC29;
	cursor: pointer;
	transition: 0.3s;

	@media(max-width: 1840px) {
		top: auto;
		bottom: -70px;
	}
	@media($tablet2) {
		display: none;
	}

	&:hover {
		@media ($tablet2Max) {
			background: #4FAC29;
			&::before,
			&::after {
				background: #ffffff;
			}
		}
	}

	&::before,
	&::after {
		position: absolute;
		content: '';
		width: 14px;
		height: 2px;
		background: #4FAC29;
		left: 15px;
		transition: 0.3s;
	}
	&::before {
		bottom: 17.5px;
		transform: rotate(45deg);
	}
	&::after {
		top: 17px;
		transform: rotate(-45deg);
	}
	&.swiper-button-disabled {
		pointer-events: none;
	}
}
.another_slider_0304__btn_next {
	transform: translateY(-50%) rotate(180deg);
	right: -70px;

	@media(max-width: 1840px) {
		right: calc(50% - 60px);
		transform: translateY(0) rotate(180deg);
	}
}
.another_slider_0304__btn_prev {
	transform: translateY(-50%);
	left: -70px;

	@media(max-width: 1840px) {
		left: calc(50% - 60px);
		transform: translateY(0);
	}
}
.another_slider_0304__slide {

	&:hover {
		@media ($tablet2Max) {
			.another_slider_0304__text {
				color: #4FAC29;
			}
		}
	}
	@media($tablet2) {
		max-width: 270px;
	}
}

.integration_0304__right {
	flex: 0 0 360px;
	padding-left: 60px;
	min-width: 0;
	padding-bottom: 60px;

	@media ($tablet2) {
		padding-left: 0;
		padding-top: 37px;
		padding-bottom: 0;
	}
}
.integration_0304__right_body {
	position: sticky;
	top: 40px;

	@media ($desktop) {
		top: 60px;
	}
}
.integration_0304__right_title {
	font-size: 16px;
	line-height: 24px;
}
.integration_0304__right_link {
	width: 300px;
	height: 50px;
	background: #4FAC29;
	margin-top: 10px;
	transition: 0.3s;
	font-family: Roboto;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		@media($tablet2Max) {
			background: #50C521;
		}
	}
	@media ($tablet2) {
		width: 325px;

	}
}
.integration_0304__right_list_wr {
	margin-top: 15px;
}
.integration_0304__right_list_title {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
}
.integration_0304__right_list{
	font-size: 16px;
	line-height: 24px;
	padding-left: 30px;
}
.integration_0304__right_slider_wr {
	margin-top: 10px;
	position: relative;
}
.integration_0304__right_slider_title {
	font-weight: 700;
	font-size: 26px;
	line-height: 36px;
}
.right_slider_0304 {
	overflow: hidden;
	margin-top: 10px;
	@media ($tablet2) {
		overflow: visible;
	}
}
.right_slider_0304__slide {
	@media ($tablet2) {
		max-width: 270px;
	}
}
.right_slider_0304__slide_img {
	padding-top: 60%;
	position: relative;

	img {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}
.right_slider_0304__slide_text {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	margin-top: 10px;
}
.right_slider_0304__slide_link {
	width: 100%;
	height: 50px;
	border: 2px solid #4FAC29;
	font-family: Roboto;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #4FAC29;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ffffff;
	transition: 0.3s;
	margin-top: 15px;

	&:hover {
		@media($tablet2Max) {
			background: #4FAC29;
			color: #FFFFFF;
		}
	}
}
.right_slider_0304__controls {
	position: absolute;
	bottom: -65px;
	left: 50%;
	transform: translateX(-50%);
	width: 115px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	@media ($tablet2) {
		display: none;
	}
}
.right_slider_0304__btn_prev,
.right_slider_0304__btn_next {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: #FFFFFF;
	border: 2px solid #4FAC29;
	position: relative;
	cursor: pointer;
	transition: 0.3s;

	&:hover {
		@media ($tablet2Max) {
			background: #4FAC29;
			&::before,
			&::after {
				background: #ffffff;
			}
		}
	}

	&::before,
	&::after {
		position: absolute;
		content: '';
		width: 14px;
		height: 2px;
		background: #4FAC29;
		left: 15px;
		transition: 0.3s;
	}
	&::before {
		bottom: 17.5px;
		transform: rotate(45deg);
	}
	&::after {
		top: 17px;
		transform: rotate(-45deg);
	}
	&.swiper-button-disabled {
		pointer-events: none;
	}
}
.right_slider_0304__btn_next {
	transform: rotate(180deg);
}